* {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: -webkit-fill-available;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem !important;
}

.carousel-item.active {
  max-height: 100vh;
}

.carousel-caption {
  right: 30% !important;
  top: 15% !important;
  bottom: 0 !important;
  left: 0 !important;
}

.img-fluid.logo-banner {
  max-width: 600px;
}

.display-5.text-secondary {
  font-weight: 600;
}

.container.d-flex.justify-content-center, .container-steps {
  padding-top: 5em;
}

.container.d-flex.justify-content-center .row {
  display: flex;
  justify-content: space-between;
}

.btn-search {
  border-color: #FF6F61 !important;
  background-color: #FF6F61 !important;
}

.btn-success {
  color: #fff;
  background-color: #00bc00 !important;
  border-color: #00bc00 !important;
}

.exclam {
  font-size: 2em;
  color: #FF6F61;
  display: flex;
}

.img-flex {
  display: flex;
  float: left;
}

.btn-search svg {
  fill: #fff;
}

.lead  strong{
  font-weight: bold;
}

img.img-fluid.img-logo {
  max-width: 350px;
}

.img-steps img{
  max-width: 650px;
}

.row-jobs {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.row-jobs .col-5 {
  padding-top: 2em;
}

.card-body {
  text-align: center;
}

.box-jobs .display-6.bold{
  text-align: center;
}

.jobs-view-more {
  text-align: center;
  color: #FF6F61;
  padding-top: 2em;
}

.container-steps .row {

}

.img-shadow {
  box-shadow: 10px 10px 27px -13px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 27px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px -13px rgba(0,0,0,0.75);
}

.container.container-steps {
  text-align: center;
}

footer {
  padding-top: 5em;
}

footer.container .col {
  padding-left: 14em;
  justify-content: start;
  display: flex;
  flex-direction: column;
}
